<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Anuario</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#" id="perfilnav">
                <h1>Bienvenido <%= user.nombre %></h1>
                <img src="public<%= user.imagen %>" id="imgperfil">
            </a>

        </div>
        <div class="navigation">

            <input type="checkbox"class="toggle-menu">
            <div class="hamburger"></div>

            <ul class="menu">

                <li><a href="/alumnosInicio">Alumnos</a></li>
                <li><a href="/proyectos">Proyectos</a></li>
                
                <div class="mar">
                <button class="sbutton">
                    <li><a href="#">Nuevo proyecto</a></li>
                </button>
                <button class="upbutton">
                    <li><a href="/logout">Cerrar Sesion</a></li>
                </button>
                </div>
            </ul>

        </div>
    </header>

    <section>
        <div id="div1">

            <h1>Bienvenido <%= user.email %></h1>

        </div>

    </section>

        


</body>
</html>